Flask==0.12.3
Flask-SQLAlchemy==2.1
Flask-Script==2.0.6
Jinja2==3.0.1
MarkupSafe==2.0
SQLAlchemy==2.0.0b1
Werkzeug==2.2.3
gunicorn==20.1.0
itsdangerous==0.24
psycopg2-binary==2.9.1
-r 'requirements-dev.txt'
